<% content_for :title, "Create batch of inventory units" %>

<h1>Create batch of inventory units</h1>

<%= render "form", inventory_unit: @inventory_unit %>

<br>

<div>
  <%= link_to "Back to inventory units", inventory_units_path %>
</div>
